<h3>{{ game.data.name }}</h3>
<ul>
	{{ game.model.programsByScore().loading }}
	{{ game.model.programsByScore().loaded }}
	{{ game.model.programsByScore().items }}
    <li ng-repeat="program in game.model.programsByScore().items()">
    	<a href="#/program/{{ program.id }}">{{ program.data.name }}</a>
    	by
    	<a href="#/user/{{ program.model.author().id }}">{{ program.model.author().data.name }}</a>
    	Scored: {{ program.data.score }}
    </li>
</ul>
<div expandable="Add program">
	<h4>Create program</h4>
	<form ng-controller="ProgramCreateForm">
		<input type="text" ng-model="program.name">
		<input type="text" ng-model="program.game">	
		<button ng-click="create()">Create</button>
	</form>	
</div>
