pre.program_data {
	color: #fff;
	background-color: #000;
	border: 1px solid #ff0;
	height: 400px;
	margin: 3px;
}

pre.program_data div {
	display: inline;
}

.ace_editor { 
	height: 200px;
	border: 1px solid black;
}
