<h3>{{ program.data.name }}</h3>
by
<a href="#/user/{{ program.model.author().id }}">{{ program.model.author().data.name }}</a>
Ready: {{ program.data.ready }}
<a href="#/program/{{ program.id }}/edit">Edit</a>
<h4>Matches</h4>
<ul>
    <li ng-repeat="match in program.matchesFromNewest()">
    	Match on {{ match.variant }}
    	<a href="#/program/{{ match.program2.id }}">{{ match.program2.name }}</a>
    	by
    	<a href="#/user/{{ match.program2.author().id }}">{{ match.program2.author().name }}</a>
    	against
    	<a href="#/program/{{ match.program2.id }}">{{ match.program2.name }}</a>
    	by
    	<a href="#/user/{{ match.program2.author().id }}">{{ match.program2.author().name }}</a>
    	Result: {{ match.score1 }}:{{ match.score2 }}
    </li>
</ul>
