<div ng-if="program.loaded">
	<h3>{{ program.data.name }}
		<small>
			(
			<span ng-if="program.data.game == 'oix'">
				OIX program
			</span>
			by
			<a href="#/user/{{ program.model.author().id }}">{{ program.model.author().data.name }}</a>
			)
		</small>
	</h3>

	<div class="container-fluid">
		<div class="row">
			<form ng-controller="ProgramEditForm" class="col-xs-8">
				<div ui-ace="{mode: 'python'}" ng-model="program.data.data"></div>
				<button ng-click="update()" class="btn btn-primary">Save</button>
			</form>
			<div class="col-xs-4" ng-include="'components/games/' + program.data.game + '/board.html'">BOARD</div>
		</div>
	</div>
</div>
